:root{
    --form-spacing: 1.5rem;
    --input-max-length: 25rem;
    --illustration-text: white;
}
*, *::before, *::after{
    box-sizing: border-box;
}
*{
    margin: 0;
}
a{
    color: inherit;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.illustration{
    display: flex;
    flex-direction: column;
    flex: 1 1 40vw;
    min-width: 25vw;
    background-image: url(resources/images/moving.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: var(--illustration-text);
}
.brand,
.reference{
    display: flex;
    flex: auto;
    justify-content: center;
}
.brand{
    align-items: center;
    padding: 1rem;
    max-width: 6rem;
    max-height: 3rem;
    background-color: #d2b48c;
}
.reference{
    align-items: flex-end;
    margin: 1rem;
}
form,
form > *,
.questions > div{
    display: flex;
}
form{
    flex-direction: column;
    flex: 2 1 60vw;
    min-width: 35rem;
    background-color: #d2b48c;
}
h1{
    margin: var(--form-spacing);
    width: 100%;
}
.questions{
    flex-wrap: wrap;
    width: min(var(--input-max-length) * 2, 100%);
    background-image: url(resources/images/cardboard-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 2rem 0;
    box-shadow: 0 1px 5px black;
}
.questions > div{
    flex-direction: column;
    justify-content: center;
    padding: var(--form-spacing);
    flex: 0 1 min(var(--input-max-length), 50%);
    height: 4rem;
}
input{
    position: relative;
    border: 0.15rem black solid
}
input ~ span{
    position: relative;
}
input + span::after{
    position: absolute;
    content: "";
}
input:required:invalid + span::after{
    content: "*required";
}
input:invalid{
    border: 0.2rem red solid;
}
input#password:invalid + span::after{
    content: "Password requires a minimum of 8 characters"
}
input:valid{
    border: 0.2rem green solid;
}
input:focus{
    border: 0.2rem blue solid;
}
form > div:last-child{
    padding: 0 var(--form-spacing);
}
button{
    width: 7rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    margin: var(--form-spacing);
    background-color: #f8fc1a;
    border: none;
    border-radius: 0.5rem;
}
button:hover{
    background-color: #feffbc;
}