@font-face {
    font-family: 'latomedium';
    src: url('resources/fonts/lato-medium-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'norwesterregular';
    src: url('resources/fonts/norwester-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
:root{
    font-family: "latomedium", Arial, Helvetica, sans-serif;
    --form-spacing: 1.5rem;
    --input-max-length: 25rem;
    --illustration-text: white;
}
*, *::before, *::after{
    box-sizing: border-box;
}
*{
    margin: 0;
}
a{
    color: inherit;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.illustration{
    display: flex;
    flex-direction: column;
    flex: 1 1 40vw;
    min-width: 25vw;
    background-image: url(resources/images/moving.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: var(--illustration-text);
    justify-content: space-between;
}
.brand,
.reference{
    display: flex;
    flex: auto;
    align-items: center;
}
.brand{
    padding: 1rem;
    max-width: max-content;
    max-height: 5rem;
    background-color: #d2b48c;
    font-family: norwesterregular, Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
}
.reference{
    align-self: center;
    max-height: 2rem;
    max-width: max-content;
    margin: 1rem;
}
form,
form > *,
.questions > div{
    display: flex;
}
form{
    flex-direction: column;
    flex: 2 1 60vw;
    min-width: 35rem;
    background-color: #d2b48c;
}
h1{
    margin: var(--form-spacing);
    width: 100%;
}
.questions{
    flex-wrap: wrap;
    width: 100%;
    background-image: url(resources/images/cardboard-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 2.5rem 0;
    box-shadow: 0 1px 5px black;
}
.questions > div{
    flex-direction: column;
    padding: 0.8rem var(--form-spacing);
    flex: 0 1 min(var(--input-max-length), 50%);
    font-size: 1.1rem;
}
input{
    position: relative;
    border: 0.15rem black solid;
    background-color: #dbcdbb;
    font-size: 0.9rem;
}
input ~ span{
    position: relative;
    line-height: 1.25;
    font-size: 0.8rem;
}
input + span::after{
    position: absolute;
    content: "";
}
input:required:invalid + span::after{
    content: "*required";
}
input:invalid{
    border: 0.2rem red solid;
}
input:invalid[type="email"] + span::after{
    content: "Please enter a valid email";
}
input#password:invalid + span::after{
    content: "Password requires a minimum of 8 characters"
}
input:valid{
    border: 0.2rem green solid;
}
input:focus{
    border: 0.2rem blue solid;
}
form > div:last-child{
    padding: 0 var(--form-spacing);
}
button{
    font-size: 1rem;
    font-weight: 700;
    width: 10rem;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    margin: var(--form-spacing);
    background-color: #f8fc1a;
    border: none;
    border-radius: 0.5rem;
}
button:hover{
    background-color: #feffbc;
}